<h1>Questions!!!</h1>
<% @question.each do |questions| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p><%= link_to questions.title, question %></p>
      </h4>
    </div>
  </div>
<% end %>
