<h1>About Bloccit</h1>
<p>Created by: Your partner in crime, Michael Medis!</p>

<button class="social-btn"><%= link_to "Michael Medis. In the flesh!:)","https://www.facebook.com/michael.medis",class: "social-btn" %>
